.container {
	border: none;
	height: 100px;
	width: 100%;
	opacity: 0.9;

	/* to change colour for these borders */
	border-top: 1px;
	border-top-color: #fff;

	border-bottom: 1px;
	border-bottom-color: #fff;

    display: flex;
    flex-direction: row;
}

.icon {
    display: flex;
    width: 64px;
    height: 100px;

    align-items: center;
    justify-content: center;
}

.link {
    display: flex;
    width: 100%;
    align-items: center;
    text-indent: 10%;
}

.text {
    width: 100%;
	font-family: var(--word-font);
    font-weight: 700;
	font-size: 2em;
    text-decoration: none;
	color: var(--light-word-color);
}
