.branch {
    height: 30rem;
}

/* Mostly animations */

.left_branch_active {
    background-position: right !important;
}

.right_branch_active {
    background-position: left !important;
}

.left_aligned_content.content_inactive,
.right_aligned_content.content_inactive {
    opacity: 0;
    top: 2rem;
    transition: all var(--animation-duration) ease-in-out;
}

.left_aligned_content.content_active,
.right_aligned_content.content_active {
    opacity: 1;
    top: 0rem;
    transition: all var(--animation-duration) ease-in-out;
}

@keyframes date_grow {
    0% {
        transform: translateY(-50%) scale(1);
    }

    50% {
        transform: translateY(-50%) scale(1.2);
    }

    100% {
        transform: translateY(-50%) scale(1);
    }
}

@keyframes dot_grow {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.active_dot {
    background: var(--highlight);

    animation-name: dot_grow;
    animation-duration: var(--animation-duration);
}

.active_date {
    color: var(--highlight);

    animation-name: date_grow;
    animation-duration: var(--animation-duration);
}

.dot {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;

    top: 0rem;
    left: var(--tree-position);
    z-index: 2;

    transform: translate(-50%, -50%);
}

/* Aligning the left and right */
.top_aligned {
    position: absolute;
    top: 0rem;
    transform: translateY(-50%);
}

.left_aligned_date {
    position: absolute;
    left: calc(var(--tree-position) + 2rem);
}

.left_aligned_branch {
    position: absolute;
    right: var(--tree-position);
    height: var(--branch-thickness);

    width: 15vw;

    background: linear-gradient(to left,
            var(--highlight) 50%,
            /* var(--font-color) 50%) left; */
            var(--background-color) 50%) left;
    background-size: 200% 100%;
    transition: var(--animation-duration);
}

.left_aligned_content {
    position: absolute;
    right: calc(var(--tree-position) + 17vw);
    width: 20rem;
    max-width: 70vw;
}

.right_aligned_date {
    position: absolute;
    right: calc(100% - var(--tree-position) + 2rem);
}

.right_aligned_branch {
    position: absolute;
    left: var(--tree-position);
    height: var(--branch-thickness);
    width: 15vw;

    background: linear-gradient(to right,
            var(--highlight) 50%,
            var(--background-color) 50%) right;
    /* var(--font-color) 50%) right; */
    background-size: 200% 100%;
    transition: var(--animation-duration);
}

.right_aligned_content {
    position: absolute;
    left: calc(var(--tree-position) + 17vw);
    width: 20rem;
    max-width: 70vw;
}

@media (max-width: 1000px) {
    .right_aligned_date {
        position: absolute;
        left: 0;
        right: calc(100% - var(--tree-position) + 2rem);
    }

    .left_aligned_date {
        position: absolute;
        left: 0;
        right: calc(100% - var(--tree-position) + 2rem);
    }

    .left_aligned_branch {
        position: absolute;
        left: var(--tree-position);
        height: var(--branch-thickness);
        width: 15vw;

        background: linear-gradient(to right,
                var(--highlight) 50%,
                /* var(--font-color) 50%) right; */
                var(--background-color) 50%) right;
        background-size: 200% 100%;
        transition: var(--animation-duration);
    }

    .left_aligned_content {
        position: absolute;
        left: calc(var(--tree-position) + 17vw);
        width: 20rem;
        max-width: 70vw;
    }

    .left_branch_active {
        background-position: left !important;
    }

    .branch {
        height: 45rem;
    }
}
