/* Make it scrollable horizontally */
.pages_row {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: space-evenly;

	color: var(--dark-word-color);
}
