.pageIcon {
	display: flex;
	flex-direction: column;
}

.link {
    text-decoration: none;
}

/* Make borders circular */
.icon {
    display: flex;
	justify-content: center;
    align-items: center;

	border-radius: 100%;

    width: 100%;
    height: 200px;
}

.icon svg {
    transform: scale(1.5);
}

.icon svg * {
    width: 100%;
    height: 100%;
}

.description {
    font-family: var(--word-font);
    font-size: 3em;
    font-weight: 700;
    color: var(--dark-word-color);

	text-align: center;
}
