.welcome {
	width: 100%;
	height: 101vh;
	align-items: center;
	justify-content: center;

	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: row;

	/* For mobile browsers */
	/* flex-direction: column; */
}

.background {
    position: absolute;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    max-height: 100vh;
    z-index: -9;
}

.background img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-height: 100vh;
    filter: brightness(30%);
}

.image {
	border: none;
    height: 300px;
    width: 300px;
	border-radius: 100%;

    margin-right: 5%;
}

.message {
    /* margin-left: 5%; */
    width: 500px;
}

.header,
.header_name {
	font-family: var(--word-font);
	font-size: 90px;
	font-weight: 700;
	letter-spacing: 8px;
	/* color: #fafaff; */
	color: var(--light-word-color);
	text-align: center;
}

.header_name {
	font-size: 150px;
	line-height: 0.85em;
	text-align: center;
	letter-spacing: 15px;
	display: flex;
	flex-direction: column;
}

.header_name:hover .header_name_i {
	text-align: right;
	letter-spacing: -5px;
}

.header_name:hover .header_name_i_small_space {
	text-align: right;
	letter-spacing: -26px;
}

.header_name_i_after {
	font-weight: 500;
	font-size: 70px;
	letter-spacing: -2px;
	line-height: 0.85em;
	margin-left: -100px;
	display: none;
}

.header_name:hover .header_name_row .header_name_i_after {
	display: initial;
	margin-left: 0px;
	animation-name: pop, appear;
	animation-fill-mode: forwards, forwards;
	animation-timing-function: ease-out, ease-out;
	animation-duration: 0.4s, 0.8s;
	animation-delay: 0s;
}

@keyframes pop {
	from {
		margin-left: -100px;
	}
	to {
		margin-left: 0px;
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}
