.year_position {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    /* alignItems: "center", */
    /* alignSelf: "stretch", */
}

.year {
    position: absolute;
    border-radius: 1.25rem;
    background: var(--font-color);
    color: var(--font-color);
    align-items: center;
    width: fit-content;
    padding: 0rem 0.75rem;

    left: var(--tree-position);
    transform: translateX(-50%);

    /* animation-name: grow; */
    /* animation-duration: var(--animation-duration); */
}

.active {
    background: var(--highlight);
    color: var(--flip-font-color);

    animation-name: grow;
    animation-duration: var(--animation-duration);
}

@keyframes grow {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.2);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}
