:root {
    width: 100%;
	--light-word-color: #ecdbba;
    --dark-word-color: #161616;
	--word-font: "Inter";
}

@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 100 1000;
	font-stretch: 0% 200%;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
	font-weight: 100 1000;
	font-stretch: 0% 200%;
	font-style: normal;
}

body {
	height: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Montserrat",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    background-color: #ecdbba;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
